@media not (-moz-bool-pref: "zen.view.use-single-toolbar") {
  
:root {
    --zen-primary-color: #4e5bf2 !important;
    --na-color-bg: rgba(239, 233, 217, 1);
    /*239, 233, 217  209, 207, 192*/
    --na-color-text: rgba(30, 30, 31, 1);
    --na-color-border: rgba(0, 0, 0, 1);
    --na-color-zero: rgba(0, 0, 0, 0);
    --na-border-radius: 10px;
    --na-window-margin: 12px;
    --na-anim-duration: 0.3s;
    --na-urlbar-bg: #00000011, #000000FF;
  }

  :root[privatebrowsingmode] {
    --na-color-text: rgba(209, 207, 192, 1);
    --na-color-bg: rgba(30, 30, 31, 1);
    --na-color-border: rgba(209, 207, 192, 1);
    --na-color-zero: rgba(0, 0, 0, 0);
    --na-border-radius: 10px;
    --na-window-margin: 12px;
    --na-anim-duration: 0.3s;
    --na-urlbar-bg: #f3f0e611, #f3f0e6FF;
  }
  
  image {
    color: var(--na-color-text) !important;
  }

  panelview {
    border-radius: 4px !important;
    border: 1px solid var(--na-color-border) !important;
    background-color: var(--na-color-bg) !important;
    color: var(--na-color-text) !important;

    & #unified-extensions-area {
      padding-block: 10px !important;
    }
  }

  #unified-extensions-view box.panel-header,
  #unified-extensions-description,
  #unified-extensions-messages-container {
    display: none !important;
  }

  @keyframes urlbar-loading {
    0% {
      background-position: 0% 50%;
    }

    100% {
      background-position: 200% 50%;
    }
  }


  @keyframes slideDown {
    from {
      transform: translateY(0%);
    }

    to {
      transform: translateY(15%);
    }
  }

  @keyframes slideUpExpand {
    from {
      transform: translateY(25%);
    }

    to {
      transform: translateY(0);
    }
  }

  @keyframes slideUpAdressBar {
    from {
      transform: translateY(15%);
    }

    to {
      transform: translateY(0);
    }
  }

  @keyframes slideFromRight {
    from {
      transform: translateX(-15%);
    }

    to {
      transform: translateX(0);
    }
  }

  @keyframes slideFromLeft {
    from {
      transform: translateX(15%);
    }

    to {
      transform: translateX(0);
    }
  }

  /* === SIDEBAR === */
  
  /* docked sidebar */
  :root:not([zen-compact-mode=true]) #navigator-toolbox {
    background-color: var(--na-color-bg) !important;
    padding: 0px !important;
    margin: 0px !important;
  }

  :root:not([zen-sidebar-expanded="true"]):not([zen-compact-mode="true"]) #navigator-toolbox {
    min-width: 50px !important;
  }

  /* floating sidebar */
  :root[zen-compact-mode=true] #navigator-toolbox {
    margin: 0px !important;
    padding-inline: 20px !important;
    margin-top: 20px !important;
    margin-bottom: 54px !important;
  }

  :root[zen-compact-mode="true"]:not([zen-sidebar-expanded="true"]) #navigator-toolbox {
    min-width: 90px !important;
  }

  /* expanded docked sidebar */
  :root[zen-sidebar-expanded="true"]:not([zen-compact-mode="true"]) #titlebar,
  :root[zen-sidebar-expanded="true"]:not([zen-compact-mode="true"]) #zen-sidebar-top-buttons {
    background-color: var(--na-color-bg) !important;
    padding-right: 2px !important;
    padding-left: 6px !important;
  }

  /* expanded floating sidebar */
  :root[zen-sidebar-expanded="true"][zen-compact-mode="true"] #titlebar {
    padding-right: 6px !important;
    padding-left: 6px !important;
  }

  /* sidebar content */
  #titlebar {
    padding-inline: 0px !important;
    padding-top: 3px !important;
    padding-bottom: 6px !important;
    border-radius: var(--na-border-radius) !important;
    background-color: var(--na-color-bg) !important;
  }

  :root[zen-compact-mode="true"] #titlebar {
    border: 1px solid var(--na-color-border) !important;
    border-color: var(--na-color-border) !important;
  }

  #zen-browser-tabs-wrapper stack {
    margin-block: 1px !important;
  }

  /* tab hover animation */
  .tabbrowser-tab:hover .tab-label-container,
  .tabbrowser-tab:hover .tab-icon-stack {
    animation: slideUpAdressBar var(--na-anim-duration) ease infinite;
  }

  /* focused tab */
  .tabbrowser-tab[selected] label {
    color: var(--na-color-text) !important;
  }
  .tabbrowser-tab[selected] img {
    /* filter: invert(100%) grayscale(100%) brightness(2) contrast(4100%) !important; 
    */
  }

  .tab-background[selected] {
    border: none !important;
    opacity: 0.25 !important;
    background-color: var(--na-color-text) !important;
  }

  /* unfocused tabs */
  .tabbrowser-tab {
    color: var(--na-color-text) !important;
  }

  :root:not([zen-sidebar-expanded="true"]) #zen-essentials-container>.tabbrowser-tab>.tab-stack>.tab-background:not([selected]) {
    background-color: var(--na-color-zero) !important;
  }

  /* tabs padding */
  .tab-content {
    padding-left: 7px !important;
    padding-right: 7px !important;
  }

  /* profile icon */
  :root[zen-sidebar-expanded="true"] {
    #zen-sidebar-top-buttons-customization-target toolbarbutton {
      padding-top: 6px !important;
      padding-inline: 4px !important;
    }
  }

  /* new tab button below tabs (remove the button) */
  #tabs-newtab-button {
    display: none !important;
  }

  /* workspace (changing the icon) */
  :root[zen-sidebar-expanded="true"] #zen-current-workspace-indicator {
    padding-inline: 10px !important;
    padding-block: 10px !important;
  }

  #zen-current-workspace-indicator:after {
    color: var(--na-color-text) !important;
    padding-bottom: 0px !important;
    content: "||" !important;
  }

  #zen-current-workspace-indicator-icon {
    opacity: 0 !important;
    width: 0 !important;
  }

  /* === BOTTOMBAR === */

  /* bottombar */
  #zen-appcontent-navbar-container {
    border: 0px solid rgb(0, 0, 0) !important;
    border-radius: 0px !important;
    border-color: rgb(0, 0, 0) !important;
    background-color: var(--na-color-bg) !important;
    padding-block: 1px !important;
    padding-inline: 10px !important;
    transition: padding-inline 0.3s normal;
    order: 1 !important;

    #identity-box {
      visibility: collapse !important;
    }

    #page-action-buttons {
      visibility: collapse !important;
    }

    #tracking-protection-icon-container {
      visibility: collapse !important;
    }

    .toolbarbutton-1 {
      visibility: collapse !important;
    }
  }
  
  :root:not(:has(#urlbar[breakout-extend]))[privatebrowsingmode] #nav-bar::before {
    font-weight: 1000 !important;
    content: "PRIVATE" !important;
    color: var(--na-color-text) !important;
    background-color: #3614c0 !important;
    border-radius: 6px !important;
    margin-right: 6px !important;
    margin-left: 0px !important;
    padding-inline: 6px !important;
    padding-block: 4px !important;
  }
  
  :root:has(.anchor-root[open]),
  :root:has(.urlbar-page-action[open]),
  :root:has(#unified-extensions-button[open]),
  :root:has(#zen-appcontent-navbar-container:hover),
  :root:has(#zen-appcontent-navbar-container[has-popup-menu]) {
    &:root:not(:has(.tabbrowser-tab[busy])) #zen-appcontent-navbar-container {
      padding-inline: 0px !important;
      
      #identity-box {
        visibility: visible !important;
      }

      #page-action-buttons {
        visibility: visible !important;
      }

      #tracking-protection-icon-container {
        visibility: visible !important;
      }

      .toolbarbutton-1 {
        visibility: visible !important;
      }
    }
    &:root[privatebrowsingmode] #nav-bar::before {
    margin-left: 10px !important;
      margin-right: 0px !important;
    }
  }
  
  /* bottombar background color transparent for loading animation */
  #urlbar-background,
  #urlbar-container {
    background-color: var(--na-color-zero) !important;
  }

  #urlbar[breakout-extend] {
:root:has(.urlbar-page-action[open]),
    #urlbar-background,
    #urlbar-container {
    background-color: var(--na-color-bg) !important;
      border: 1px solid var(--na-color-border) !important;
    }
  }

  /* urlbar border radius */
  #urlbar-background,
  #urlbar {
    /* padding-left: 4px !important; */
    border-radius: var(--na-border-radius) !important;
  }

  /* bottombar left icon */
  #urlbar-container:not(:has(#urlbar[breakout][breakout-extend])) #identity-icon-box {
    padding-inline: 4px !important;
    margin-left: 8px !important;
    margin-right: 10px !important;
  }
  
/* bottombar go button bad align */
  .urlbar-go-button {
    margin: -1px !important;
  }
  
  /* bottombar animation */
  #urlbar {
    top: auto !important;

    &[breakout-extend] {
      display: flex !important;
      flex-direction: column !important;
      align-items: stretch !important;
      animation: slideUpExpand var(--na-anim-duration) ease;
      bottom: 62.5px !important;
    }

    &:not([breakout-extend]) {
      animation: slideUpAdressBar var(--na-anim-duration) ease;
      background-color: var(--na-color-zero) !important;
    }

    &>.urlbar-input-container {
      order: 1 !important;
    }
  }
  
  .urlbarView-body-inner{
      border-top: none !important;
      border-bottom: 1px solid var(--na-color-text) !important;
  }

  /* urlbar loading text */
  #urlbar>.urlbar-input-container>.urlbar-input-box::before {
    content: "Loading" !important;
    padding-inline: 10px !important; 
    animation: slideUpAdressBar var(--na-anim-duration) ease infinite;
    animation-play-state: paused;
    transition: opacity 0.6s;
    align-self: center;
    visibility: collapse !important;
    opacity: 0;
  }
  
#urlbar:not([breakout-extend]) .urlbar-input-container>.urlbar-input-box> input {
      opacity: 1 !important;
    transition: opacity 0.6s;
    }
  
  #main-window:has(.tabbrowser-tab[selected][busy]) {
    #urlbar:not([breakout-extend]) .urlbar-input-container>.urlbar-input-box> input {
      transition: opacity 0s ease;
      opacity: 0 !important;
    }

    #urlbar:not([breakout-extend]) .urlbar-input-container>.urlbar-input-box::before {
      animation-play-state: running;
      visibility: visible !important;
      opacity: 1;
    }
  }

  /* urlbar loading */
  #urlbar {
    color: var(--na-color-text) !important;
    .urlbar-input-container::before {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(90deg, var(--na-urlbar-bg));
      background-size: 200% 100%;
      animation: urlbar-loading 1s linear reverse infinite;
      animation-play-state: paused;
      opacity: 0;
      transition: opacity 0.3s;
      z-index: -1;
    }
  }

  #main-window:has(.tabbrowser-tab[selected][busy]) .urlbar-input-container::before {
    animation-play-state: running;
    opacity: 1;
  }

  .tabbrowser-tab[busy] {
    #urlbar {
      animation: slideUpAdressBar var(--na-anim-duration) ease;
    }
  }

  /* urlbar items padding */
  #urlbar-container:has(#urlbar[breakout-extend]) {
    #urlbar {
      border: 0px solid rgb(0, 0, 0) !important;
      font-size: 1em !important;
      height: fit-content !important;
      padding-inline: 2px !important;
      padding-block: 2px !important;
      color: var(--na-color-text) !important;

      .urlbar-input,
      .urlbar-input-box {
        margin: 0px !important;
        padding: 0px !important;
      }

      .urlbar-input-container {
        height: fit-content !important;
        margin: 0px !important;
        padding-block: 12px !important;
        padding-inline: 17px !important;
      }
    }

    #identity-box,
    #page-action-buttons,
    #tracking-protection-icon-container,
    #urlbar-go-button,
    #urlbar-anon-search-settings {
      display: none !important;
    }

    #urlbar-results>.urlbarView-row>.urlbarView-row-inner>.urlbarView-url {
      margin-inline: 0px !important;
    }

    #urlbar-results {
      font-size: 1em !important;

      img {
        display: none !important;
      }
    }

    .urlbarView-results div {
      margin: 0px !important;
      padding-block: 2px !important;
      padding-inline: 6px !important;
    }
  }

  #identity-permission-box {
    margin-right: 15px !important;
  }

  /* urlbar action button */
  .urlbar-page-action,
  #tracking-protection-icon-container {
    margin-left: 10px !important;
  }

  #page-action-buttons {
    margin-right: 5px !important;
  }

  /* urlbar search result */
  .urlbarView-body-inner {
    display: none !important;

    &:has(.urlbarView-row[selected]) {
      display: list-item !important;

      & .urlbarView-row[selected] .urlbarView-title {
        animation: slideUpAdressBar var(--na-anim-duration) ease infinite;
        color: var(--na-color-text) !important;
      }

      & .urlbarView-row:hover .urlbarView-title {
        animation: slideUpAdressBar var(--na-anim-duration) ease infinite;
        color: var(--na-color-text) !important;
      }

      & .urlbarView-row[selected] .urlbarView-action {
        color: var(--na-color-text) !important;
      }
    }
  }

  /* urlbar search engine and bookmark search mode */
  .search-one-offs {
    display: none !important;

    &:has(.searchbar-engine-one-off-item[selected]) {
      border-bottom: 1px solid var(--na-color-text) !important;
      padding-inline: 5px !important;
      padding-block: 12px !important;
      display: list-item !important;

      & .searchbar-engine-one-off-item[selected] hbox {
        animation: slideUpAdressBar var(--na-anim-duration) ease infinite;
      }

      & .searchbar-engine-one-off-item:hover hbox {
        animation: slideUpAdressBar var(--na-anim-duration) ease infinite;
      }
    }
  }
  
  /* urlbar search engine and bookmark search mode indicator */
  #urlbar-search-mode-indicator,
  #urlbar-label-box {
    padding-block: 4px !important;
    padding-left: 6px !important;
    padding-right: 2px !important;
    color: var(--na-color-bg) !important;
    background-color: var(--na-color-text) !important;
  }

  /* === BOOKMARK AND HISTORY === */

  /* bookmark and history */
  #tabbrowser-tabbox>vbox {
    z-index: 1 !important;
    align-self: center !important;
    position: absolute !important;
    height: calc(100% - 37.5px) !important;
    box-shadow: 4px 4px 8px 0px #00000022 !important;
    background-color: var(--na-color-bg) !important;
    border-radius: var(--na-border-radius) !important;
    border: 1px solid var(--na-color-border) !important;
    border-color: var(--na-color-border) !important;
  }
  
  /* bookmark and history body */
  #bookmarksPanel,
  #history-panel {
    background-color: var(--na-color-bg) !important;
  }

  /* bookmark and history remove splitter */
  #sidebar-splitter {
    display: none !important;
  }

  /* bookmark and history expand on right side */
  :root:not([zen-compact-mode=true]):not([zen-right-side="true"]) #tabbrowser-tabbox>vbox {
    animation: slideFromRight var(--na-anim-duration) ease !important;
    bottom: 14px;
    right: 24px;
  }

  /* bookmark and history expand on left side */
  :root:not([zen-compact-mode=true])[zen-right-side="true"] #tabbrowser-tabbox>vbox {
    animation: slideFromLeft var(--na-anim-duration) ease !important;
    bottom: 14px;
    left: 20px;
  }

  /* bookmark and history compact mode on right side */
  :root:not([zen-right-side="true"]) #tabbrowser-tabbox>vbox {
    animation: slideFromRight var(--na-anim-duration) ease !important;
    right: 18px;
  }

  /* bookmark and history compact mode on left side */
  :root[zen-right-side="true"] #tabbrowser-tabbox>vbox {
    animation: slideFromLeft var(--na-anim-duration) ease !important;
    left: 10px;
  }

  /* === WINDOW === */

  body>hbox {
    border-radius: 0px !important;
    background-color: var(--na-color-bg) !important;
  }

  /* whole window */
  #browser {
    background-color: var(--na-color-bg) !important;
    border-radius: 0px !important;
    margin: 0px !important;
    padding: 0px !important;
  }

  /* window border on maximize */
  :root[sizemode="maximized"] #browser {
    border: 1px solid var(--na-color-border) !important;
  }

  /* window border on minimize */
  :root:not([sizemode="maximized"]) #browser {
    border: 3px solid rgb(0, 0, 0) !important;
  }

  /* content window */
  .browserSidebarContainer {
    box-shadow: none !important;
    margin: 0px !important;
    padding: 0px !important;
    border-bottom: 1px solid rgb(0, 0, 0) !important;
  }

  /* content window border radius */
  :root[zen-compact-mode="true"] .browserSidebarContainer {
    border-bottom: 1px solid var(--na-color-border) !important;
    border-radius: 0px !important;
  }

  /* content window border size on RIGH side tabbar */
  :root[zen-right-side="true"]:not([zen-compact-mode="true"]):not([inDOMFullscreen="true"]) .browserSidebarContainer {
    margin-top: var(--na-window-margin) !important;
    margin-left: var(--na-window-margin) !important;
    border: 1px solid var(--na-color-border) !important;
    border-radius: var(--na-border-radius) !important;
  }

  /* content window border size on LEFT side tabbar */
  :root:not([zen-right-side="true"]):not([zen-compact-mode="true"]):not([inDOMFullscreen="true"]) .browserSidebarContainer {
    margin-top: var(--na-window-margin) !important;
    margin-right: var(--na-window-margin) !important;
    border: 1px solid var(--na-color-border) !important;
    border-radius: var(--na-border-radius) !important;
  }

  /* content window + address bar */
  #zen-appcontent-wrapper {
    background-color: var(--na-color-bg) !important;
    border-radius: 0px !important;
    margin: 0px !important;
    padding: 0px !important;
  }

  /* ??? window */
  #zen-tabbox-wrapper {
    margin: 0px !important;
    padding: 0px !important;
  }

  /* === FINDBAR === */

  /* findbar */
  findbar {
    padding: 0px !important;
    margin: 0px !important;
    border: 1px solid var(--na-color-border) !important;
    border-radius: var(--na-border-radius) !important;
    min-width: calc(100% - 40px) !important;
    height: 40px !important;
    visibility: visible !important;
    align-self: center !important;
    position: absolute !important;
    bottom: 20px !important;
    box-shadow: 4px 4px 8px 0px #00000022 !important;
    opacity: 1 !important;
    animation: slideUpExpand var(--na-anim-duration) ease;

    &[hidden] {
      animation: slideDown var(--na-anim-duration) ease;
      visibility: hidden !important;
    }
  }

  /* make the input bar fit the content */
  .findbar-container {
    background-color: var(--na-color-bg) !important;
    height: auto !important;
    margin: 0px !important;
    padding-left: 15px !important;
    padding-right: 10px !important;

    &>:first-child {
      width: 100% !important;
    }
  }

  .findbar-closebutton {
    display: none !important;
  }

  .findbar-textbox {
    width: 20px !important;
    padding: 0px !important;
    margin: 0px !important;
    padding: 0px !important;
    flex-grow: 1 !important;
    box-shadow: none !important;
    border: 0px solid !important;
    background-color: var(--na-color-bg) !important;
  }

  .findbar-find-status,
  .found-matches {
    margin: 0px !important;
  }

  .findbar-highlight>.checkbox-label-box {
    display: none !important;
  }

  .findbar-highlight:after {
    content: "a++" !important;
  }

  .findbar-case-sensitive>.checkbox-label-box {
    display: none !important;
  }

  .findbar-case-sensitive:after {
    content: "Aa" !important;
  }

  .findbar-match-diacritics>.checkbox-label-box {
    display: none !important;
  }

  .findbar-match-diacritics:after {
    content: "Áá" !important;
  }

  .findbar-entire-word>.checkbox-label-box {
    display: none !important;
  }

  .findbar-entire-word:after {
    content: "a_b" !important;
  }

  /* ------------------ */

  /* hide minimize, maximize, and close button */
  .titlebar-buttonbox-container {
    display: none
  }

  /* hide bottom left status bar */
  #statuspanel {
    display: none !important;
    padding: 10px !important;

    &>label {
      padding: 8px !important;
      border: 1px solid var(--na-color-border) !important;
      border-radius: var(--na-border-radius) !important;
    }
  }

  .browser-toolbar {
    margin: 0px !important;
    padding: 0px !important;
  }
} 