/* Original code by napuzu. Modifications by undefinedcode0 */

:root {
    --in-content-table-background: #181825 !important;
}

@-moz-document url("about:privatebrowsing") {
    @media (prefers-color-scheme: dark) {
        :root {
            --na-color-text: #cdd6f4 !important;
            --na-color-bg: #1e1e2e !important;
        }
    }
}

@-moz-document url("about:newtab"), url("about:home") {
    @media (prefers-color-scheme: dark) {
        :root {
            --na-color-text: #cdd6f4 !important;
            --na-color-bg: #1e1e2e !important;
        }
    }
}

@-moz-document url("about:newtab"), url("about:home"), url("about:privatebrowsing") {
    #root,
    .container {
        display: none;
    }

    body:after {
        font-weight: 500;
        position: absolute;
        margin: auto;
        color: var(--na-color-text);
        font-size: 200%;
        background-color: var(--na-color-bg);
        /* eee9d899 d1cfc099 */
        width: 100%;
        height: 100%;
        align-content: center;
        text-align: center;
        content: "░░▒▒▓▓";
        /* '░░▒▒▓▓' */
        visibility: visible;
        background-image: "";
        /* url(loading.gif) */
        background-size: 3em;
        background-repeat: no-repeat;
        background-position: center;
    }
}

/* Common variables affecting all pages */
@-moz-document url-prefix("about:") {
    :root {
        --in-content-page-color: #cdd6f4 !important;
        --color-accent-primary: #b4befe !important;
        --color-accent-primary-hover: rgb(206, 212, 254) !important;
        --color-accent-primary-active: rgb(189, 180, 254) !important;
        background-color: #1e1e2e !important;
        --in-content-page-background: #1e1e2e !important;
    }
}

/* Variables and styles specific to about:preferences */
@-moz-document url-prefix("about:preferences") {
    :root {
        --zen-colors-tertiary: #181825 !important;
        --in-content-text-color: #cdd6f4 !important;
        --link-color: #b4befe !important;
        --link-color-hover: rgb(206, 212, 254) !important;
        --zen-colors-primary: #313244 !important;
        --in-content-box-background: #313244 !important;
        --zen-primary-color: #b4befe !important;
    }

    groupbox,
    moz-card {
        background: #1e1e2e !important;
    }

    button,
    groupbox menulist {
        background: #313244 !important;
        color: #cdd6f4 !important;
    }

    .main-content {
        background-color: #11111b !important;
    }

    .identity-color-blue {
        --identity-tab-color: #8aadf4 !important;
        --identity-icon-color: #8aadf4 !important;
    }

    .identity-color-turquoise {
        --identity-tab-color: #8bd5ca !important;
        --identity-icon-color: #8bd5ca !important;
    }

    .identity-color-green {
        --identity-tab-color: #a6da95 !important;
        --identity-icon-color: #a6da95 !important;
    }

    .identity-color-yellow {
        --identity-tab-color: #eed49f !important;
        --identity-icon-color: #eed49f !important;
    }

    .identity-color-orange {
        --identity-tab-color: #f5a97f !important;
        --identity-icon-color: #f5a97f !important;
    }

    .identity-color-red {
        --identity-tab-color: #ed8796 !important;
        --identity-icon-color: #ed8796 !important;
    }

    .identity-color-pink {
        --identity-tab-color: #f5bde6 !important;
        --identity-icon-color: #f5bde6 !important;
    }

    .identity-color-purple {
        --identity-tab-color: #c6a0f6 !important;
        --identity-icon-color: #c6a0f6 !important;
    }
}

/* Variables and styles specific to about:addons */
@-moz-document url-prefix("about:addons") {
    :root {
        --zen-dark-color-mix-base: #181825 !important;
        --background-color-box: #1e1e2e !important;
    }
}

/* Variables and styles specific to about:protections */
@-moz-document url-prefix("about:protections") {
    :root {
        --zen-primary-color: #1e1e2e !important;
        --social-color: #cba6f7 !important;
        --coockie-color: #89dceb !important;
        --fingerprinter-color: #f9e2af !important;
        --cryptominer-color: #b4befe !important;
        --tracker-color: #a6e3a1 !important;
        --in-content-primary-button-background-hover: rgb(
            81,
            83,
            105
        ) !important;
        --in-content-primary-button-text-color-hover: #cdd6f4 !important;
        --in-content-primary-button-background: #45475a !important;
        --in-content-primary-button-text-color: #cdd6f4 !important;
    }

    .card {
        background-color: #313244 !important;
    }
}

* {
    /* font-family: 'JetBrainsMono Nerd Font' !important;*/
}
